<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="C:\Users\pc\Desktop\view\css\style1.css">
 	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
	<jsp:include page="includes/header.jsp"></jsp:include>
	<form>
		<div class="container p-5 mt-5">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="mb-2 p-0">Shop</h4>
					<hr class="m-0 p-0" style="background-color: #FD1C05; width: 7%; float:left; ">
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm-8">
					<p>Showing all 6 results</p>
				</div>
				<div class="col-sm-4 text-right">
					 <div class="dropdown">
    					<button type="button" class="btn btn-light" data-toggle="dropdown">Sort the product by</button>
    					<div class="dropdown-menu">
      						<a class="dropdown-item" href="#">popularity</a>
      						<a class="dropdown-item" href="#">price: low to high</a>
      						<a class="dropdown-item" href="#">price: high to low</a>
      						<div class="dropdown-divider"></div>
      						<a class="dropdown-item" href="#">View Cart</a>
    					</div>
  					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/aquafina-1-liter-mineral-water.png" height="50%" width="50%">
							<h5>1 LITRE WATER BOTTLES</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 20.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
						</div>
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/bisleri_250ml_mineral_water_bottle.png" height="50%" width="50%">
							<h5>250ML WATER BOTTLES (3)</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 10.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
							
						</div>
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/bisleri_500ml_mineral_water_bottle.png" height="50%" width="50%">
							<h5>500ML WATER BOTTLES (3)</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 15.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
						</div>
					
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/bisleri_20litre_water_can.png" height="50%" width="50%">
							<h5>Bisleri 20 Litre Water Can</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 70.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
						</div>
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/Aquasure_20lit water.jpg" height="50%" width="50%">
							<h5>AquaSure 20 Liter Water Can</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 70.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
							
						</div>
						<div class="col-md-3 card-1 p-1 m-3 text-center" style="height: 100%">
							<img src="Images/packaged-drinking-water-jar-500x500.jpg" height="50%" width="50%">
							<h5>20 LITER BLUE WAY WATER</h5>
							<h3></h3>
							<h5 style="color: blue;">₹ 30.00MRP</h5>
							<p style="color: blue; font-size: 10px;">(Inc GST)</p>
							<button type="button" class="btn btn-warning mb-2">ADD TO CART</button>
						</div>
				</div>
				<div class="col-md-3 border-left border-danger">
						
				</div>
			</div>
		</div>
	</form>
	<jsp:include page="includes/header.jsp"></jsp:include>
</body>
</html>